<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiuzd.ssm.dao.IStaffDao">

	<select id="findStaffById" parameterType="int" resultType="com.qiuzd.ssm.bean.Staff">
		select staff_name,staff_pwd,staff_job_id,staff_team_id,team_group_name,team_project_name
		from staff,team
		<where>
			<if test="staffId!=null">
				and staff_id=#{staffId}
			</if>
		and staff_team_id=team_id
		</where>
	</select>
	
	<select id="findByJobIdAndPwd" parameterType="Staff" resultType="com.qiuzd.ssm.bean.Staff">
		select staff_name,staff_pwd,staff_job_id,staff_team_id,team_group_name,team_project_name
		from staff,team
		<where>
			<if test="staffJobId!=null">
				and staff_job_id=#{staffJobId}
			</if>
			<if test="staffPwd!=null">
				and staff_pwd=#{staffPwd}
			</if>
			and staff_team_id=team_id
		</where>
	</select>
	
</mapper>